.page{
font-family: 'Trebuchet MS';
border-top: 5px solid;
border-bottom: 5px solid;
border-right: 5px solid;
border-left: 5px solid;
width: 900px;
margin-left: auto;
margin-right: auto;
margin-top:20px;
}

#creds {
position: relative;
top:-15px;
padding-right: 20px;
}

.name, #portfolio {
font-family: 'Trebuchet MS';
padding: 10px;
}
#viv{
float: left;
margin-right:20px;
margin-left:0px;
}

#course{
float:right;
margin-left:20px;
margin-right:0px;
}
#viv,#course{
margin-bottom:10px;
font-size: 3em;
padding:10px;
}
#label{
font-family: 'Trebuchet MS';
margin-left:auto;
margin-right:auto;
color:#ffffff;
width:1000px;
}

.toparea{
background-image: url(imgs/orangebg.png);
width:100px;
height:100px;
background-repeat: repeat;
margin-top:0px;
padding-bottom:50px;
padding-top:20px;
padding-left:200px;
padding-right:200px;

}
#portfolio{
width:450px;
margin-left:auto;
margin-right: auto;
}

#email {
top: -20px;
padding-left: 20px;
position: relative;
margin-right:auto;
margin-left:auto;
 }

#title{
border: none;
border: none;
width: 450px;
margin-right: auto;
margin-left: auto;
}
 
#bio{
padding:20px;
}
p {
text-indent:5em;
}
a, a:visited{
font-size:25px;
color: #000000;
padding:10px;
}

#foliolinks{
text-align:center;
}
#me{
width: 300px;
height:300px;
display:block;
margin-left:auto;
margin-right:auto;
}
body{
margin:0px;
}

