#resume{
display: block;
font-family: 'Trebuchet MS';
border-top: 5px solid;
border-bottom: 5px solid;
border-right: 5px solid;
border-left: 5px solid;
width: 450px;
margin: 20px;
}

#cred {
padding-right: 10px
}
#name {
padding:10px;
}

#email {
padding-left: 20px;
position: relative;
top:-15px;
}



